@import '../foundations//all';

.btn{
    border: none;
    background:$body-bg-color;
    color: $body-text-color;
    padding: 20px 40px;
    border-radius: map-get($specing, 'xxs');
    // font-family: $body-bg-color;
    font-size: $body-font-size;
    padding: map-get($specing, 'xxs' );
}